<ion-header>
  <app-header title="Liste des objets disponible au prêt">
      <ion-back-button slot="start"></ion-back-button>
  </app-header>
</ion-header>
<ion-content  padding>
<ion-grid>
<ion-row>
  <ion-col>
      <ion-button size="small" tappable [routerLink]="['/x/fm/item']" color="secondary" end>Ajouter un objet
        <ion-icon name="add" ></ion-icon>
      </ion-button>
  </ion-col>
</ion-row>
  <ion-row *ngIf="(items$| async) as items; else noData">
    <ion-col>
      <ion-card  *ngFor="let item of items" >
        <ion-card-header>
          <ion-card-title color="primary">
              <ion-grid><ion-row>
                  <ion-col>
                      <ion-thumbnail>
                          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                      </ion-thumbnail>                      
                  </ion-col>
                  <ion-col  tappable [routerLink]="['/x/fm/item',item._id]">{{item?.name}}</ion-col>
                  <ion-col>
                  <!--  pour 2ème version <ion-toggle checked={{item?.enabled}} (ionChange)="toogleEnabled($event)" [value]="item._id" ></ion-toggle>
                   -->   <ion-button size="small" (click)="delete(item._id)" >
                        <ion-icon name="close" ></ion-icon>
                      </ion-button>
                      <ion-button size="small" tappable [routerLink]="['/x/fm/item',item._id]">  
                          <ion-icon name="create" ></ion-icon>
                        </ion-button>
                    </ion-col>                 
              </ion-row></ion-grid>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
              {{item?.description}}
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ng-template #noData>
    <ion-row>
      <ion-col>
        <ion-text>no item found...</ion-text>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-grid>
</ion-content>
