<ion-header>
    <app-header title="Mon objet au prêt">
        <ion-button slot="start" (click)="back()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </app-header>
  </ion-header>
  <ion-content>
      <ion-list *ngIf="(item$ | async) as item;else insert">
      <form [formGroup]="form">
        <ion-item>
            <ion-toggle formControlName="enabled" ></ion-toggle>
        </ion-item> 
        <ion-item>
          <ion-label>
            Name:
          </ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            Description:
          </ion-label>
          <ion-textarea formControlName="description" type="text"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label>
              Deposit:
            </ion-label>
            <ion-input formControlName="deposit" type="text"></ion-input>
        </ion-item>
        <ion-item>
              <app-camera (pictureSelected)="pictureSelected($event)" [takePicture]="true">
              </app-camera>
        </ion-item>
            <ion-button (click)="update()">Update</ion-button>
      </form>
      </ion-list>

      <ng-template #insert>
        <form [formGroup]="form">
        <ion-list>
          <ion-item>
              <ion-toggle formControlName="enabled" ></ion-toggle>
          </ion-item> 
          <ion-item>
            <ion-label>
              Name:
            </ion-label>
            <ion-input formControlName="name" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              Description:
            </ion-label>
            <ion-textarea formControlName="description" type="text"></ion-textarea>
          </ion-item>
          <ion-item>
              <ion-label>
                Deposit:
              </ion-label>
              <ion-input formControlName="deposit" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <app-camera (pictureSelected)="pictureSelected($event)" [takePicture]="true">
                </app-camera>
            </ion-item>
        </ion-list>
        <ion-button (click)="addItem()">Ajouter</ion-button>
      </form>
    </ng-template>
    
  </ion-content>