<ion-header translucent>
    <app-header title="Mon profil" >
     <!-- <ion-back-button slot="start"></ion-back-button> -->
     <ion-button slot="start" (click)="back()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </app-header>
</ion-header>
  <ion-content>
    <ion-grid>
    <ion-row *ngIf="(user$ | async) as user;">
      <ion-col>
      <form [formGroup]="form"  padding>   
      <app-camera (pictureSelected)="pictureSelected($event)" [takePicture]="true" ></app-camera>       
      <ion-list>
        <ion-item>
          <ion-label floating>Nom</ion-label>
          <ion-input type="text" formControlName="firstname" [(ngModel)]="user.firstname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Prénom</ion-label>
            <ion-input type="text" formControlName="lastname" [(ngModel)]="user.lastname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Pseudo</ion-label>
            <ion-input type="text" formControlName="pseudo" [(ngModel)]="user.pseudo"></ion-input>
            <div *ngIf="submitted && form.pseudo.errors" >error
                <div *ngIf="form.pseudo.errors.required">First Name is required</div>
            </div>
        </ion-item>
        <ion-item>
            <ion-label floating>Téléphone</ion-label>
            <ion-input type="text" formControlName="telephone" [(ngModel)]="user.telephone"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Adresse</ion-label>
            <ion-input type="text" formControlName="address" [(ngModel)]="user.address"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Zip</ion-label>
            <ion-input type="text" formControlName="zip" [(ngModel)]="user.zip"> </ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>State</ion-label>
            <ion-input type="text" formControlName="state" > </ion-input>
        </ion-item>
        <ion-item>
          <ion-button size="small" (click)="getCurrentPosition()">Suis chez moi ici</ion-button>
        </ion-item>
        <ion-item>
          <ion-button type="submit"  expand="block"  size="small" (click)="saveUser()" >
            Save
          </ion-button>
        </ion-item>
      </ion-list>
    </form>
    <pre></pre>
    </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
  
