<ion-content  padding class="background">
    <form [formGroup]="form" (submit)="search(buttonType)">
      <ion-grid >
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h3>Rechercher un objet</h3>
            </div>
            <div padding>
                <ion-item>
                   <ion-input formControlName="name" type="text" placeholder="Que recherchez-vous?"></ion-input>
                </ion-item>
                <div class="error-message" *ngIf="form.get('name').touched && form.get('name').invalid">
                   name is required</div>
                   <app-input-message control="form.get('name')" textError="erreur"></app-input-message>
                <ion-item>
                  <ion-input formControlName="distance" type="text" placeholder="Distance max"></ion-input>
                </ion-item>
            </div>
            <div padding>
              <ion-button size="large"  [disabled]="!form.valid" expand="block" (click)="search()">
                rechercher</ion-button>
             </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
  
  