<input type="file" #fileInput style="visibility: hidden; height: 0px" name="files" (change)="processWebImage($event)" />

<ion-row *ngIf="image" style="padding: 10px">
    <ion-col>
    <ion-avatar class="image" style="margin:0 auto;align-items: center">
        <img [src]="image"/>
       <!--  <img  src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"><br /> !-->
     </ion-avatar>     
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-button (click)="takePhoto()">Take Picture</ion-button>
  </ion-col>
</ion-row>
      
 <!-- Generated template for the SmartImagePickerComponent component 
<input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
<div class="profile-image-wrapper">
  <div class="profile-image-placeholder" *ngIf="!imageData" (click)="getPicture()" [ngClass]="{'disabled': disabled}">
    <ion-icon name="add"></ion-icon>
    <div>
      Ajouter une<br>photo
    </div>
  </div>
  <div class="profile-image" [style.backgroundImage]="profileImageStyle" *ngIf="imageData">
    <div class="camera-button" (click)="getPicture()"><ion-icon name="camera"></ion-icon></div>
  </div>
</div> 

-->