<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      
    <ion-text color="secondary">
    <h1>
        Bonjour, merci d'avopir choisi notre application de partage entre voisin!<br />
        Vous n'avez pas encore renseigné la position de votre chez vous ainsi que  votre pseudo.<br />
        Afin de pouvoir utiliser toutes les fonctionalités, veuillez vous rendre sur votre profil et le compléter.<br />
    </h1>
    </ion-text>
    <ion-button  expand="block"  size="large" [routerLink]="'/x/fm/editProfil'" >Compléter le profil</ion-button>
    <br /><ion-button  expand="block"  size="large" [routerLink]="'/x/fm/lend/search'"  >Plus tard</ion-button>

  </div>
</ion-content>
